
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 40px;
}

header h1 {
  font-family: "Ballet", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 40px;
    color: blue;
}

.volver {
    position: absolute;
    margin-top: 70px;
    margin-left: 30px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: blue;
    border-radius: 20px;
    box-shadow: 5px 15px 20px gray;
    font-family: "Roboto", sans-serif;
}

.volver:hover {
    background: yellow;
    color: orange;
     box-shadow: 5px 15px 20px orange;
}

.q {
    margin-top: 70px;
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('IMG/alcoy\ foto.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin-left: 30px;
    border-radius: 20px;
     box-shadow: 5px 15px 20px gray;
}

.q {
    width: 700px;
    height: 400px;
}

.g {
    color: white;
}

.g div {
    width: 700px;
    height: 90px;
     margin-top: 300px;
    background-color: orange;
}

.g h2 {
    font-size: 40px;
    margin-left: 20px;
}

.w {
    width: 700px;
    margin-left: 30px;
    margin-right: 30px;
}

.w div {
    width: 680px;
    height: 200px;
    overflow: scroll;
    font-size: 18px;
}

h3 {
    color: blue;
    margin-bottom: 20px;
    font-size: 40px;
}

.boton {
    background: orange;
    color: blue;
    padding-left: 20px;
    padding-top: 15px;
    border-radius: 20px;
    font-family: 'Ballet', cursive;
    width: 100px;
    height: 60px;
    margin-left: 30px;
}

.boton:hover {
    background: yellow;
    transform: scale(1.1);
}
