*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


header {
    background-attachment: fixed;
    background-image: url(IMG/fondo.jpg);
    background-size: cover;
    border: 10px solid rgb(255, 83, 192);
}

.texto1 {
   color: white;
   font-size: 40px;
   padding-left: 100px;
   padding-top: 150px;
}

.texto {
    color: white;
    font-size: 40px;
    padding-left: 100px;
}

.ACT {
    width: 50vw;
    height: 12vh;
justify-content: center;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
margin-bottom: 80px;
margin-top: 80px;
border: 5px solid white;  
list-style: none;
box-shadow: 5px 15px 20px rgb(33, 2, 71);
background-attachment: fixed;
background-size: cover;
}

#trabajos a {
    font-size: 40px;
    color: white;
    text-decoration: none;
}

#trabajos a:hover {
    color: orange;
}

.rosa {
    background-color: rgb(255, 83, 192);
}

.ACT:hover {
    background-color: blueviolet;
    border: 5px solid rgb(255, 83, 192);
}