*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


header {
    background-image: url(IMG/fondo.jpg);
    background-size: cover;
    width: 2000px;
    height: 3000px;
}

.texto1 {
    color: white;
    font-size: 80px;
   padding-left: 220px;
   padding-top: 150px;
}

.texto {
    color: white;
    font-size: 60px;
    padding-left: 220px;
}

.ACT18 {
    width: 1500px;
    height: 200px;
margin-left: 220px;
margin-top: 170px;
border: 5px solid white;  
padding-top: 110px;
list-style: none;
text-align: center;
}

.ACT20 {
    width: 1500px;
    height: 200px;
margin-left: 220px;
margin-top: 170px;
border: 5px solid white;  
padding-top: 110px;
list-style: none;
text-align: center;
}

.ACT21 {
    width: 1500px;
    height: 200px;
margin-left: 220px;
margin-top: 170px;
border: 5px solid white;  
padding-top: 110px;
list-style: none;
text-align: center;
}

#trabajos a {
    font-size: 70px;
    color: white;
    text-decoration: none;
}

#trabajos a:hover {
    color: blue;
}

.rosa {
    background-color: rgb(255, 83, 192);
}
