*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


header {
    background-image: url(IMG/fondo.jpg);
    background-size: cover;
    width: 1200px;
    height: 3000px;
    border: 10px solid rgb(255, 83, 192);
}

.texto1 {
    color: white;
    font-size: 40px;
   padding-left: 100px;
   padding-top: 150px;
}

.texto {
    color: white;
    font-size: 40px;
    padding-left: 100px;
}

.ACT {
    width: 500px;
    height: 100px;
justify-content: center;
margin-bottom: 80px;
margin-top: 80px;
border: 5px solid white;  
padding-top: 55px;
list-style: none;
text-align: center;
}

#trabajos a {
    font-size: 40px;
    color: white;
    text-decoration: none;
}

#trabajos a:hover {
    color: blue;
}

.rosa {
    background-color: rgb(255, 83, 192);
}

.ACT:hover {
    background-color: blueviolet;
}