@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-image: url('img/Fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: "Ballet", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;

}

.text {
    display: flex;
    text-align: center;
    margin-bottom: 70px;
}

.text p {
 font-family: "Roboto", sans-serif;
}

.cities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}

.city {
    width: 300px;
    height: 400px;
    background: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid blue;
    margin-right: 30px;
}

.city:hover {
    border: 4px solid yellow;
    color: orange;
    box-shadow: 5px 20px 15px yellow;
}

.image {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.city h3 {
    padding-top: 30px;
    color: black;
    font-size: 25px;
    text-align: center;
    font-family: "Ballet", cursive;
    font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

