* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

header h1 {
    font-family: 'Chewy', cursive;
    color: black;
}

header p {
    font-size: 11px;
    margin-top: 10px;
    color: orangered;
}

nav {
    justify-content: center;
     display: flex;
    flex-direction: row;
}

.contacto {
    width: 100px;
    height: 30px;
    margin-right: 80px;
    margin-left: 80px;
    background-color: orangered;
}

.contacto a {
    text-align: center;
    color: blue;
    font-size: 11px;
    font-weight: bold;
}

nav a:hover {
    background-color: yellow;
}

main {
    max-width: 1200px;
    margin-top: 100px;
    }

.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.producto {
    margin-left: 25px;
    margin-right: 25px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    font-family: 'Chewy', cursive;
}

.azul {
    background-color: blue;
}

.azul:hover {
    transform: translate(10px, 10px);
     background-color: white;
    color: white;
    border: 3px solid blue;
}

.fucsia {
    background-color: rgb(255, 43, 255);
}

.fucsia:hover {
    transform: translate(10px, -10px);
     background-color: white;
    color: white;
    border: 3px solid rgb(255, 43, 255);
}

.amarillo {
    background-color: yellow; 
    color: black;
}

.amarillo:hover {
    transform: translate(-10px, 10px);
    background-color: white;
    color: white;
    border: 3px solid yellow;
}

.verde {
    background-color: green; 
}

.verde:hover {
    transform: translate(-10px, -10px);
    background-color: white;
    color: white;
    border: 3px solid green;
}

.mapa {
    text-align: center;
}

.mapa iframe {
    padding: 10px;
    border: 2px solid red;
}

footer {
    text-align: center;
    padding: 20px;
}

footer img {
    width: 800px;
    height: auto;
}