* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

header {
    padding: 2vw;
}

h1 {
    font-size: 3vw;
}

h4 {
    font-size: 1.5vw;
    margin-bottom: 2vw;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #feb236;
    width: 80vw;
}

nav ul li {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1vw;
    padding-bottom: 1.5vw;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.8vw;
}

nav ul li:hover {
    background-color: #ff7b25;
}

main {
    width: 80vw;
}

.mapa {
    display: block;
    background-color: #6b5b95;
    padding: 3vw;
}

.mapa img {
    width: 80vw;
    transition: transform 0.3s ease;
}

.mapa img:hover {
    transform: scale(1.2);
}

.graficos {
    display: flex;
    justify-content: space-around;
    background-color: #ff7b25;
    padding: 3vw 0;
}

.grafico {
    width: 30vw;
    background-color: white;
    padding: 1vw;
    text-decoration: none;
    color: #6b5b95;
}

.grafico img {
    width: 100%;
}

.grafico span {
    display: block;
    font-size: 1.5vw;
    margin-top: 1vw;
    text-decoration: underline;
}

@media (max-width: 600px) {

    h1 {
        font-size: 8vw;
    }

    h4 {
        font-size: 4vw;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        font-size: 4vw;
    }

    .mapa img {
        width: 80vw;
    }

    .graficos {
        flex-direction: column;
        background-color: #6b5b95;
    }

    .grafico {
        width: 80vw;
        margin: 3vw auto;
    }

    .grafico span {
        font-size: 4vw;
    }
}