body{
    margin:0;
}

.container{
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
        "header header"
        "menu content"
        "footer footer";

    width:90%;
    margin:4vw;
    border:2px solid blue;
}

.header{
    grid-area:header;
    text-align:center;
    border-bottom:2px solid blue;
    padding:3vh;
}

.header img{
     width:20%;
}

.menu{
    grid-area:menu;
    border-right:2px solid blue;
    border-bottom: 2px solid blue;
    padding:2vw;
}

.menu a{
    display:block;
    background: orangered;
    color:blue;
    text-align:center;
    margin:2vh 0;
    padding:2vh;
    border: 2px solid blue;
}

.content{
    grid-area:content;
    padding:2vh;
    border-bottom: 2px solid blue;
}

.content img{
    width:100%;
}

.footer{
    grid-area:footer;
    display: grid;

    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;

     border:2px solid blue;
    width:95%;
    margin:2vw auto;
    text-align:center;
}

.footer div{
    border:1px solid blue;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:2vh;
}

.footer img{
    max-width:50%;
}

.l1{
  grid-row: 1/3;
}

.l9{ grid-column:1/4;
background-color: blue;
color: white;}
